@if ( map-get($grid-system, menuExists) == true ) {
	.header{
		&-menu{
			@extend .transition;
			li{
				display: inline-block;
				padding: 0 5px;
	 			vertical-align: middle;
				a{
					@extend .tdn;
					@extend .relative;
					color: inherit;
					&:after{
						top: 100%;
						left: 0;
						width: 0;
						height: 1px;
						background-color: setColor(corp);
						@include borderR(10px);
						@extend .pseudo;
						@extend .transition;
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
			}
			&-hidden{
				display: block;
			}
		}
		
		@include resp-max(md){
			&-menu{
				padding: 0;
		    display: block;
		    width: 100%;
		    height: 100%;
		    position: fixed;

	      background-color: #d8b38e;
		    z-index: 1000;
		    text-align: center;
		    &.appear{
		    	&-top{
						@include transform(translateY(-120%));
		    	}
		    	&-left{
				    @include transform(translateX(-200%) rotate(-25deg));
		    	}
		    }
		    &.active{
		    	&.appear{
		    		&-top,
		    		&-left{
		    			transform: none;
		    		}
		    		&-left{
		    			overflow-y: auto;
		    		}
		    	}
				}
		    li{
		    	display: block;
		    }
			}
		}
		&-inf{
			&-logo{
				padding: 7.5px;
			  background-color: #545454;
			  width: 100%;
			  img{
			  	max-width: 200px;
			  }
			}
			&-tagline{
				color: setColor(light);
			  font-size: 12px;
			  padding: 7.5px;
			  border-bottom: 1px solid setColor(black,dark);
			  @extend .ttu;
			  @extend .bebas_bold;
			}
			&-btn{
				position: absolute;
				right: 5px;
				top: 5px;
				background-color: transparent;
				border: none;
				outline: none;
			  width: 25px;
			  height: 22px;
			  
				&:after,
				&:before{
					@extend .pseudo;
					left: 0;
					top: 20px;
					margin-top: -11px;
					display: block;
					width: 100%;
					height: 2px;
					background-color: setColor(corp);
				  transform-origin: 50% 100%;
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}			
		}
	}
}