@if ( map-get($grid-system, menuExists) == true ) {
	.header{
		&-menu{
			@extend .transition;
			li{
				display: inline-block;
				padding: 0 5px;
	 			vertical-align: middle;
				a{
					@extend .tdn;
					@extend .relative;
					color: inherit;
					&:after{
						top: 100%;
						left: 0;
						width: 0;
						height: 1px;
						background-color: setColor(corp);
						@include borderR(10px);
						@extend .pseudo;
						@extend .transition;
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
			}
			&-hidden{
				display: block;
			}
		}
	}
}