/* ===================== 
Start: START FOOTER      
======================== */
.footer{
	@extend .cf;
	@extend .roboto_bold;
	padding: 19px 0;
	margin-top: 71px;
	background: $gradient;
	color: setColor(light);
	font-size: 14px;
	
	&-b{
		@extend .block-inline;
		vertical-align: middle;
		margin: 0 15px;
	}
	&-btn{
		&-wrap{
			margin-bottom: 10px;
		}
		min-width: 115px;
		padding: 10px 15px;
	  background-color: #ffcc00;
	  border: none;
	  font-size: 15px;
	  outline: none;
	  @extend .transition;
	  @extend .bebas_bold;
	  &.active{
	  	background-color: #ff7878;
	  	color: setColor(light);
	  }
	}
	a{
		@extend .tdn;
	}
	&-counters{
		a{
			display: block;
		}
	}
	&-menu{
		li{
			display: block;
			@include resp-min(lg){
				padding-right: 40px;
			}
			&:last-child{
				padding-right: 0;
			}
		}
		a{
			color: inherit;
		}
	}
	@include resp-min(md){
		&-copy,
		&-menu{
			position: relative;
			top: 30px;
		}		
	}
	@include resp-max(md){
		&-copy{
			margin-top: 10px;
		}
	}
	@include resp-min(sm){
		&-menu{
			li{
				display: inline-block;
				padding-right: 15px;
			}
		}
	}
	@include resp-max(sm){
		&-menu{
			display: none;
			li{
				a{
					display: block;
					padding: 5px;
				}
			}
		}
	}
}
/* =====================
End:  START FOOTER
======================== */