// .toggle{
//   &-subtitle-no-margin{
//     .subtitle{
//       margin-bottom: 0;
//     }
//   }
//   &-inner{
//     @extend .cf;
//     @include resp-min(sm){
//       &-big-margin{
//        margin-bottom: 150px;
//         &:last-child{
//           margin-bottom: 75px;
//         }
//       }
//       &-small-margin{
//         margin-bottom: 50px;
//         &:last-child{
//           margin-bottom: 0;
//         }
//       }
//     }
//     &-img{
//       @extend .text-center;
//     }
//   }
//   @include resp-min(sm){
//     //ODD - нечетное
//     .toggle-inner-right:nth-child(odd) .toggle-inner-img,
//     .toggle-inner-right:nth-child(even) .toggle-inner-text,
//     .toggle-inner-left:nth-child(odd) .toggle-inner-text,
//     .toggle-inner-left:nth-child(even).toggle-inner-img {      
//         float: right;
//     }
//     .toggle-inner-right:nth-child(even){
//       .toggle-inner-text{
//         .subtitle,p{
//           text-align: right;
//         }
//       }
//     }   
//   }
// }
.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
.slider-wrap{
  max-height: 441px;
  .owl{
    &-nav{
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -23.5px;
    }
    &-prev,
    &-next{
      position: absolute;
      width: 23px;
      height: 47px;
      @include bg("../img/arrow.png");
    }
    &-prev{
      left: 0;
    }
    &-next{
      right: 0;
      transform: scale(-1,1);
    }
  }
}
.nav{
  z-index: 2;
}
.navigation{
  &-pc{
    @extend .relative;
    
    // &:before,
    // &:after{
    //   @include bg("../img/navigation.png");
    //   width: 237px;
    //   height: 68px;
    //   top: -10px;
    //   @extend .pseudo;
    // }
    // &:before{
    //   right: 100%;
    // }
    // &:after{
    //   left: 100%;
    //   transform: scale(-1,1);
    // }
    .navigation{
      &-menu{
        &-list{
          
          float: left;
          
          > li{
            display: inline-block;
            border-right: 1px solid #e1e1e1;
            padding: 18.5px 39.38px;
            background-color: #2077a1;
          }
          &-right{
            float: right;
            background-color: #2999cf;
            li{
              border: none;
              background-color: transparent;
            }
          }
        }
      }
      &-submenu{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #2077a1;
        min-width: 200px;
        z-index: 2;
        border-top: 1px solid #fff;
        @extend .transition;
        li{
          padding: 5px 10px;
          // &:last-child{
          //   margin-bottom: 0;
          // }
          >ul{
            border-top: none;
            left: 100%;
            top: 0;
            border-left: 1px solid #fff;
          }
        }
        a{
          &:before{

          }
        }
      }
    }
  }

  &-menu{
    ul{
      font-size: 0;
    }
    li,a{
      position: relative;
    }
    
    a{
      display: inline-block;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      &:before{
        @extend .pseudo;
        display: none;
        right: -20px;
        top: 50%;
        margin-top: -3px;
        border: 6px solid transparent; 
        border-top: 8px solid #fff;
      }
      &:after{
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: setColor(corp);
        @include borderR(10px);
        @extend .pseudo;
        @extend .transition;
      }
      &:hover{
        &:after{
          width: 100%;
        }
      }
    }
    li{
      &:hover{
        > ul{
          visibility: visible;
          opacity: 1;
        }
      }
      &.has-submenu{
        > a{
          &:before{
            display: block;
          }
        }
      }
    }
    &-list{

    }
  }
}
    
/* ===================== 
Start: COLUMN      
======================== */
.column{
  &-main,
  &-aside{
    min-height: 1px;
    float: left;
  }
  &-main{
    padding-top: 24px;
    &-title{
      &--inner{
        font-size: 26px;
        padding-left: 45px;
        @extend .block-inline;
        @extend .relative;
        @extend .bebas_bold;
        &:after{
          @extend .pseudo;
          left: 0;
          top: 0;
        }
      }
      &--border{
        padding-bottom: 9px;
        @extend .border-bottom;
      }
    }
  }
}
@include resp-min(deflg){
  .column{
    &-aside{
      width: 17%;
      padding-left: 12px;
    }
    &-main{
      width: 83%;
      float: right;
      padding-left: 26px;
    }
  }
}
@include resp-min(lg){
  .column{
    &-main{
      width: 1120px;
      
      
    }
    &-aside{
      width: 230px;
      
    }
  }
}
.aside{
  font-size: 14px;
  &-block{
    margin-bottom: 23px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-title{
    background-color: #3684aa;
    color: setColor(light);
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
    @extend .roboto_bold;
  }
  &-inf{
    padding-top: 27px;
  }
  &-list{
    li{
      @extend .relative;
      padding-left: 15px;
      margin-bottom: 8px;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        @extend .pseudo;
        left: 0;
        top: 50%;
        margin-top: -3.5px;
        width: 10px;
        height: 7px;
        @extend .transition;
        @include bg("../img/arrow-menu.png");
      }
      &:hover{
        &:before{
          @include transform(translateX(7.5px));
        }
        a{
          color: #3684aa;
        }
      }
    }
    a{
      display: block;
      @extend .tdn;
      @extend .transition;
      color: inherit;
      border-bottom: 1px dotted #333;
    }
  }
  display: none;
  @include resp-min(deflg){
    display: block;
  }
  @include resp-min(lg){
    &-inf{
      padding: 27px 0px 0 26px;
    }
    &-list{
      li{
        padding-left: 29px;
      }
    }
  }
}
/* =====================
End:  COLUMN
======================== */
    
/* ===================== 
Start: NEWS      
======================== */
.news{
  &-title{
    margin-bottom: 31px;
    @include resp-max(md){
      padding-left: 15px;
    }
    &--inner{
      &:after{
        width: 32px;
        height: 32px;
        @include bg("../img/news.png");
      }
    }
  }

  &-block{
    font-size: 15px;
    &:not(:last-child){
      padding-bottom: 34px;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 31px;
    }
    &-title{
      @extend .roboto_bold;
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 6px;
    }
    &-date{
      @extend .roboto_bold;
      @extend .relative;
      padding-left: 30px;
      &:after{
        @extend .pseudo;
        left: 0;
        top: -2px;
        width: 24px;
        height: 24px;
        @include bg("../img/clock.png");
      }
    }
    &-link{
      color: inherit;
      margin-top: 13px;
      display: block;
    }
  }
}
/* =====================
End:  NEWS
======================== */
.top-title{
  margin-bottom: 41px;
  &--inner{
    &:after{
      width: 38px;
      height: 36px;
      top: -6px;
      left: -1px;
      @include bg("../img/star.png");
    }
  }
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 19px;
}
.table td, .table th {
  padding: 9px 5px 0px;
  vertical-align: top;
}
.table thead th {
  vertical-align: bottom;
}
.checkbox{
  
  label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #010101;
    &:before{
      @extend .pseudo;
      left: 50%;
      top: 50%;
      margin-left: -5.5px;
      margin-top: -4.5px;
      width: 11px;
      height: 9px;
      @include bg("../img/check.png");
      opacity: 0;
      visibility: hidden;
      transition: all ease .2s;
    }
  }
  input{
    display: none;
    &:checked{
      + label{
        &:before{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.product{
  &-wrap{
    margin-top: 53px;
    margin-bottom: 25px;
  }
  &-item{
    width: 194px;
    display: block;
    margin-bottom: 31px;
    @include resp-max(xs){
      margin-left: auto;
      margin-right: auto;
    }
    @include resp-min(xs){
      margin-right: 27px;
      display: inline-block;
      vertical-align: top;
    }
    @include resp-min(lg){
      &:nth-child(5n){
        margin-right: 0;
      }
    }
    &-image{

      height: 193px;
      @extend .relative;
      @extend .text-center;
      @extend .border;
      @extend .vertical-image;

    }
    &-notification{
      position: absolute;
      right: 0;
      top: 0;
      @extend .roboto_bold;
    }
    &-price{
      display: inline-block;
      padding: 5px 19px;
      background-color: #99cc00;
      color: #fff;
    }
    &-name{
      margin-top: 9px;
    }
  }
  &-table{
    @extend .border-dark;
    &-hiddenPhone{
      @include resp-max(xs){
        display: none;
      }
    }
    &-title{
      background-color: #e9e9e9;
      padding: 17px 8px 6px;
      &-small{
        @extend .roboto_bold;
        font-size: 15px;
      }
    }
    tbody{
      tr{
        height: 41px;
      }
      td{
        @extend .border-dark;
      }
    }
    &-checkbox{
      @extend .text-center;
      width: 55px;
    }
    &-image{
      width: 57px;
      text-align: center;
      padding-top: 7px !important;
      @extend .product-table-hiddenPhone;
    }
    &-price{
      width: 97px;
      @extend .roboto_bold;
    }
    &-gifts{
      width: 100px;
      text-align: center;
      &-inner{
        display: inline-block;
        margin: 0 5px;
      }
    }
    &-titles{
      height: auto !important;
      td{
        border: none !important;
        padding-top: 7px !important;
        padding-bottom: 4px !important;
      }
    }
    &-value{
      display: inline-block;
      font-size: 15px;
      @extend .roboto_bold;
      margin-right: 5px;
      @include resp-min(sm){
        &-wrap{
          margin-right: 25px;
        }
      }
    }
    &-select{
      width: 56px;
      height: 26px;
      font-size: 13px;
      @extend .border-dark;
    }
  }
  &-new{
    &-title{
      &--inner{
        &:after{
          width: 26px;
          height: 37px;
          left: 9px;
          top: -7px;
          @include bg("../img/fire.png");
        }
      }
    }
  }
}
.pagination{

  &-blocks,
  &-title{
    display: inline-block;
  }
  &-title{
    margin-right: 9px;
  }
  &-num{
    display: inline-block;
    text-align: center;
    padding: 3.5px 10px;
    margin-right: 3px;
    background-color: #f0f0f0;
    @extend .border-dark;
    &.active{
      background-color: #e1e1e1;
    }
    &-link{
      text-decoration: none;
    }
  }
  @include resp-max(sm){
    padding-left: 15px;
  }
}